<!DOCTYPE html>
<html>
{{> head}}

<body>
{{> navbar}}
<div class="container">
  {{#if isDateEntered}}
  <p id="for_message" ></p>
{{/if}}
  <h1 class="text-center">{{title}}</h1>
  {{{body}}}
</div>
<script src="/script.js"></script>
</body>
</html>



