
<html>
{{> head}}
<link href="styles.css" rel="stylesheet">
<body>
{{> navbar}}
<div  id="app" class="container">
  {{{body}}}
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="vue">
</script>
</body>
</html>



