
<style>
  .msg{
    color: #f5f3f3;
  }
  .center{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .text-center {
    text-align: center !important;
  }
</style>

{{# if errs.length}}
  <ul>
    {{#each errs}}
      <li>
        <p class="card-panel purple"><span class="msg">{{msg}}</span></p>
      </li>
    {{/each}}

  </ul>
{{/if}}

  <form action="/achievements/add" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id"  />
    <label for="name">Название</label><br>
    <input name="name"  class="field" /><br><br>
    <label>Дата </label><br>
    <input name="date" type="date"  class="field" /><br><br>
    <label>Тип достижения </label><br>
    <input name="type"  class="field" /><br><br>
    <label>Описание</label><br>
    <input name="description"  class="field" /><br><br>
    <label>Сертификат</label><br>
    <input type="file" name="certificate" value="{{Achievement.certificate}}" accept="/image/*" class="field" />
    <input type="submit" class="btn center" value="Добавить" />
  </form>

