

{{# if errs.length}}
  <ul>
    {{#each errs}}
      <li>
        <p class="card-panel purple"><span class="msg">{{msg}}</span></p>
      </li>
    {{/each}}

  </ul>
{{/if}}

<form action="/participants/add" method="POST">
  <label>ФИО</label><br>
  <input name="FIO"  class="field" /><br><br>
  <label>Должность </label><br>
  <input name="position"  class="field" /><br><br>
  <label>Ссылка на профиль</label><br>
  <input name="link"  class="field" /><br><br>
  <input type="submit" class="btn center" value="Добавить" />
</form>

