table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th{
    font-weight: 900!important;
    color: black;
    padding: 10px 20px;
}
tr.paint_tab:nth-child(n) {
    background-color: #8ea7e0 !important;
}
tr.paint_tab:nth-child(2n) {
    background-color:#adc7ef !important;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
.btn-danger{
   background-color:crimson;
}
.btn-success {
    background-color: #50d9ca;

    font-weight: bold !important;
}
.text-center{
    text-align: center !important;
}
a{
    color:white;
}
.center{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.msg{
    color: #f5f3f3;
}
.content{
    font-weight: bold;
    font-size: 17px;
}

